<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8lf7HoUGsN087P89LqY1x-GRbdvmkSVg</string>
	<key>GCM_SENDER_ID</key>
	<string>520417668823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-app-980a7</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-980a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520417668823:ios:00db60ec587375c5964a92</string>
	<key>DATABASE_URL</key>
	<string>https://first-app-980a7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>